<center>
<div class="container">
    <div class="z-depth-1 grey lighten-4 row" style="padding: 40px 48px 0px 48px; border: 1px solid #EEE;">
        <div class="section">
            <div class="row">
                <form class="col s12" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="phone" type="text" class="validate">
                            <label for="phone">Enter your phone number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="col s12 btn btn-large waves-effect indigo" type="submit">Generate OTP</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</center>